.card {
    background-image:url("card.png");
    position:absolute;
    top:20%;
    left:25%;
    width:80%;
    height:60%;
    text-align:center;
    background-size:contain;
    background-repeat:no-repeat;
  }

  .col {
    position: relative;
    width: 50%;
    float: left;
    height: 100%;
  }

  .row {
    position: relative;
    height: 33.33%;
    float: top;
    width: 100%;
  }